.player {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 14px;
}

.player-title {
    display: flex;
    justify-content: flex-start;
    max-width: 525px;
}

.player-name-quote {
    margin-left: 5px;
}

.player-name-quote p {
    margin: 0;
}
.player-name-quote h3 {
    margin: 14px 0px 8px 0px;
}

.player img {
    width: 145px;
    height: 145px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.button-controls {
    display: flex;
    justify-content: flex-start;
}