.scrollable {
    display: flex;
    justify-content: flex-start;
    overflow:auto;
    max-height:350px;
    max-width:500px;
}

.button-controls {
    display: flex;
    justify-content: flex-start;
}