.item {
    display: flex;
    justify-content:space-between
}

.button {
    display: inline-flex;
    align-items: center;
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 1.5rem;
    height: 1.2rem;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
  }

.actions {
    display: inline-flex;
    align-items: center;
}

.lower {
    animation: lower-white 1s;
}

.higher {
    animation: higher-white 1s;
}

@keyframes lower-white {
    0% {background-color: white;
        box-shadow: white;
        color: black}
    25% {background-color: rgba(255, 29, 29, 0.796);
        box-shadow: 0 0 9px 5px rgb(255, 29, 29);
        color:rgb(255, 0, 106)}
    0% {background-color: white;
        box-shadow: white; 
        color: black}
}

@keyframes higher-white {
    0% {background-color: white;
        box-shadow: white;
        color: black}
    25% {background-color: rgb(255, 238, 0);
        box-shadow: 0 0 9px 4px rgb(255, 238, 0);
        color:rgb(221, 255, 0)}
    0% {background-color: white; 
        box-shadow: white;
        color: black}
}