.items {
    width: 17rem;
}

.items ul {
    margin: 5px;
    padding: 0 8px;
}

.button {
    display: flex;
    justify-content: space-around;
    margin: 6px;
    padding: 3px;
}

.error {
    background-color: rgb(255, 185, 185);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: auto;
  }