.roll-log {
    display: flex;
    justify-content: space-between;
}

.roll-item {
    margin: 0 5px 0 5px;
    padding: 0 5px 0 5px;
}

.scrollable {
    overflow:auto;
    width:450px;
    max-height:  300px;
}