.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgb(255, 248, 198);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
    color: black;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    height: 25px;
    margin-top: 11px;
    margin-left: 5px;
  }

.green {
    background-color: rgb(124, 230, 124);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .40);
  }

.blue {
  background-color: rgb(141, 141, 247);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .40);
}