.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    height: 42px;
    transition: background-color 2s;
  }
  
  .button:hover,
  .button:active {
    background-color: #ca3d01;
    
  }
  
  
  .badge {
    background-color: #5a1b02;
    padding: 0.25rem 0.25rem;
    border-radius: 50px;
    margin-left: 1rem;
    font-weight: bold;
    height: 42px;
    transition: background-color 2s;
  }

  .button img {
      height: 40px;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #ff5106;
  }

  .digital {
      border: rgb(255, 152, 152);
      border-style:groove;
      border-width: 1px;
      margin-right: 2px;
      font-size: 25px;
      color: rgb(255, 152, 152);
      text-decoration: line-through;
      text-decoration-thickness: 1px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
